---
---
<!DOCTYPE html>
<html lang="en-US">

  <body>

    {% include head.html %}

    <div>
      <section class="vh100 col col-3 p2 bg-purpleBrown">
        <div class="">
          <h1 class="px2 white">HS/HSL Outreach Toolkit</h1>
          <a href="elm.html" class="btn block mb2 mt2 h2 lh1 grey darken-3-hover">Preview Content for Elm and Campus Life Weekly</a>
          <a href="#!" class="btn block mb2 mt2 h2 lh1 selected-menu-item">Digital Signage Resources</a>
        </div>
      </section>
      <div class="vh100 col col-9 p3">
        <div id="app">{{ "{{ message "}} }}</div>
      </div>
    </div>

    {% include index-scripts.html %}

  </body>

</html>
