<div class="col-9 ml-col-3 p3 border-box bg-light-grey">

        <div class="vh100">

          <section class="border-box border-bottom pb3">
            <h1 class="mb3 h4 center">Campus Life Weekly Email Short Feature</h1>
            <div class="container">
              <div class="flex justify-content-center">

                <div class="clw clw-short">
                  <div class="bg-white">
                    <div>
                      <img src="http://placehold.it/275x210" class="img-insert">
                    </div>
                    <div class="p2">
                      <p class="bold m0">
                        <a href="mailto:" class="short-title">{{ "{{ title "}} }}</a>
                      </p>
                      <p class="m0">{{ "{{ date "}} }}, {{ "{{ time "}} }}</p>
                      <p class="m0">{{ "{{ location "}} }}</p>
                      <p>
                        <a href="mailto:" class="short-contact">{{ "{{ contactName "}} }}</a>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>

          <section class="border-box clearfix mt2">
            <h1 class="mb3 h4 center">Campus Life Weekly Email Long Feature</h1>
            <div class="container">
              <div class="flex justify-content-center">

                <div class="clw-long-wrapper flex flex-center justify-content-center">
                  <div class="clw clw-long">
                    <div class="flex flex-center" style="height: 100%;background-color:#F0F1F1;">
                      <div class="col-6 px2">
                        <img src="http://placehold.it/275x210" class="img-insert clw-long-image">
                      </div>
                      <div class="col-6 px2">
                        <p class="long-title bold m0">{{ "{{ title "}} }}</p>
                        <p class="long-date m0 bold">{{ "{{ date "}} }}, {{ "{{ time "}} }}</p>
                        <p class="long-location bold">{{ "{{ location "}} }}</p>
                        <p>{{ "{{ longDesc "}} }}</p>
                        <a href="">Take the survey here</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>

        </div>

      </div>
