<div class="col-9 ml-col-3 p3 border-box bg-light-grey">

        <section class="vh100 border-box border-bottom">
          <h1 class="mb3 h4 center">Campus Life Weekly Email Short Item</h1>
          <div class="container">
            <div class="flex justify-content-center">

              <div class="clw clw-short">
                <div class="bg-white">
                  <div>
                    <!-- <img src="http://placehold.it/275x210" class="img-insert"> -->
                    <img src="/images/clw.gif" class="img-insert">
                  </div>
                  <div class="p2 mt2">
                    <!-- <p class="bold">{{ "{{ title "}} }}</p> -->
                    <!-- <p>{{ "{{ shortDesc "}} }}</p> -->
                    <p class="bold m0">
                      <a href="mailto:" class="short-title">Healthy Selfie</a>
                    </p>
                    <p class="m0">Mon., Oct. 31, 11 a.m. - 2 p.m.</p>
                    <p class="m0">SMC Campus Center, First Floor</p>
                    <p class="m0">
                      <a href="mailto:" class="short-contact">Contact Deborah Levi</a>
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section class="vh100 border-box pb3">
          <h1 class="mb3 h4 center">Campus Life Weekly Email Long Item</h1>
          <div class="container">
            <div class="flex justify-content-center">

              <div class="clw-long-wrapper flex flex-center justify-content-center">
                <div class="clw clw-long">
                  <div class="flex flex-center" style="height: 100%;background-color:#F0F1F1;">
                    <div class="col-6 px2">
                      <img src="/images/survey.jpg" class="img-insert clw-long-image">
                    </div>
                    <div class="col-6 px2">
                      <p class="long-title bold m0">How can we improve your commute?</p>
                      <p class="long-date m0 bold">Monday, Oct. 31, noon - 1:30 p.m.</p>
                      <p class="long-location bold">School of Nursing Courtyard</p>
                      <p> Parking and Transportation Services wants to know how you get to and from UMB. This brief survey will help us understand how parking facilities and alternative transportation are used at UMB, and help us serve you better.</p>
                      <a href="">Take the survey here</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>

      </div>
