<!-- elm.html specific css -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <!-- /elm -->
    <style>
      @import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
      body,
      .vh100 { min-height: 100vh; }
      .raleway { font-family: "Raleway", sans-serif; }
      .text-decoration-none:hover { text-decoration: none; }
      .ml-col-3 { margin-left: 25%; }
      .bg-light-gray { background-color: rgb(237,237,237); }
      .justify-content-center { justify-content: center; }
      .align-content-center { align-content: center; }
      .bg-silver-blue { background-color: rgb(86,134,162); }
      .pb3 { padding-bottom: 2rem; }
      .py1 {
        padding-top: .5rem;
        padding-bottom: .5rem;
      }
      .py2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      .pl-third { padding-left: .3rem; }
      .lh1 { line-height: 1; }
      .purpleBrown { color: var(--purpleBrown); }
      .bg-purpleBrown { background-color: var(--purpleBrown); }
      .grey { color: var(--grey); }
      .darken-1-hover:hover { background-color: var(--darken-1); }
      .darken-2-hover:hover { background-color: var(--darken-2); }
      .darken-3-hover:hover { background-color: var(--darken-3); }
      .darken-4-hover:hover { background-color: var(--darken-4); }
      .yellow { color: var(--yellow); }
      .bg-yellow { background-color: var(--yellow); }
      .umm { color: var(--umm); }

      :root {
        --grey: rgb(172,164,171);
        --umm: #6698C8;
        --purpleBrown: #4D394B;
        --darken-1: rgba(0,0,0,.0625);
        --darken-2: rgba(0,0,0,.125);
        --darken-3: rgba(0,0,0,.25);
        --darken-4: rgba(0,0,0,.5);
        --yellow: rgb(255,204,0);
      }

      .selected-menu-item {
        background-color: var(--yellow);
        color: white;
      }
    </style>
