<section class="fixed top-0 bottom-0 left-0 overflow-auto col-3 p2 bg-purpleBrown">
        <div class="clearfix white">
          <a href="index.html" class="white text-decoration-none">⬅ Back</a>
          <h1 class="h3">Elm Preview Mode</h1>
          <p class="grey">Enter your content below to preview what it will look like throughout the Elm.</p>
        </div>
        <div class="clearfix grey">
          <form action="">
            <label for="title">Title</label>
            <input v-model="title" name="title" class="block col-12 mb1 field" type="text">
            <label for="shortDesc">Short Description</label>
            <input v-model="shortDesc" name="shortDesc" class="block col-12 mb1 field" type="text">
            <label for="longDesc">Long Description</label>
            <textarea v-model="longDesc" ea name="longDesc" class="block col-12 mb1 field" rows="3" cols="80"></textarea>
            <!-- NOTE date and time inputs below set as type="text" hack to get around Chrome's
                  native date and time picker behaviors.
                  See for example http://stackoverflow.com/questions/5966244/jquery-datepicker-chrome
                  for the headache of dealing with this issue.
             -->
            <label for="date">Date</label>
            <input v-model="date" name="date" class="block col-12 mb1 field" type="text">
            <label for="time">Time</label>
            <input v-model="time" name="time" class="block col-12 mb1 field" type="text">
            <label for="location">Location</label>
            <input v-model="location" name="location" class="block col-12 mb1 field" type="text">
            <label for="url">URL</label>
            <input v-model="url" name="url" class="block col-12 mb1 field" type="url">
            <label for="image">Select an Image</label>
            <div class="border py1 pl-third bg-white overflow-scroll">
              <input class="italic quoted" type="file" accept="image/*" name="image" onchange="previewFile()">
            </div>
          </form>
        </div>
      </section>
