<!-- 1/2 jQuery/Electron/Node hack via http://stackoverflow.com/a/37480521/2145103 -->
<!-- Insert this line above script imports  -->
<script>
  if (typeof module === 'object') {window.module = module; module = undefined;}
</script>

<script src="js/vue.js"></script>
<script>
  var elm = new Vue({
    el: '#elm',
    data: {
      title: 'HS/HSL Hosts BD2K Webinar on Data Science',
      shortDesc: 'Researchers of all levels are invited to attend this Big Data to Knowledge (BD2K) webinar at the Health Sciences & Human Services Library.',
      longDesc: 'This week\'s NIH Big Data to Knowledge (BD2K) lecture is "Finding and Accessing Datasets, Indexing, and Identifiers", with Lucila Ohno-Machado, UCSD.\
      Network with researchers and librarians at HS/HSL as we live stream the latest event in the NIH\'s Guide to the Fundamentals of Data Science lecture series.\
      The lectures cover the basics of data management, representation, computation, statistical inference, data modeling, and other topics relevant to "big data" biomedicine.\
      The series provides essential training suitable for individuals at all levels of the biomedical community.',
      date: 'Friday September 23',
      time: 'Noon to 1pm',
      location: 'Health Sciences & Human Services Library, Distance Ed Room',
      url: ''
    }
  })

  // image preview solution via http://stackoverflow.com/a/41175754/2145103
  function previewFile() {
    var preview = document.querySelectorAll('img');
    var file    = document.querySelector('input[type=file]').files[0];
    var reader  = new FileReader();

    reader.addEventListener("load", function () {
      for (var img in preview) {
        preview[img].src = reader.result;
      }
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  }
</script>

<script src="js/jquery-1.12.4.js"></script>
<script src="js/jquery-ui@1.12.1.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script>
  /* datepicker js, css, and code via
    - https://jqueryui.com/datepicker/
    - http://stackoverflow.com/a/7844578/2145103
    - http://api.jqueryui.com/datepicker/#option-dateFormat
  */
  $(function(){
    $("input[name=date]" ).datepicker({
      dateFormat: 'DD, MM dd'
    });
  });

  // timepicker js, css, and code via http://jonthornton.github.io/jquery-timepicker/
  $('input[name=time]').timepicker({'scrollDefault': 'now'});
</script>

<!-- 2/2 jQuery/Electron/Node hack via http://stackoverflow.com/a/37480521/2145103 -->
<!-- Insert this line after script imports -->
<script>
  if (window.module) module = window.module;
</script>
