<div class="col-9 ml-col-3 pt3 pl3 border-box bg-light-grey">

        <section class="vh100 border-box border-bottom">
          <h1 class="mb3 h4 center">Elm Home Page Feature</h1>
          <div class="container">
            <div class="flex justify-content-center">
              <div class="col-4 px2" style="max-width: 350px;">
                <div class="bg-white rounded">
                  <div>
                    <img src="images/1200x900.png" class="rounded-top img-insert" style="max-width: 100%;">
                  </div>
                  <div class="p2">
                    <p class="h3">{{ "{{ title "}} }}</p>
                    <p>{{ "{{ shortDesc "}} }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="vh100 border-box border-bottom pb3">
          <h1 class="mb3 h4 center">Elm Blog Post</h1>
          <div class="container">
            <div class="p3">
              <div class="bg-white rounded">
                <div>
                  <img src="images/1200x900.png" class="rounded-top img-insert">
                </div>
                <div class="p2">
                  <p class="h3">{{ "{{ title "}} }}</p>
                  <p>{{ "{{ longDesc "}} }}</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="vh100 border-box border-bottom pb3">
          <h1 class="mb3 h4 center">Elm Weekly Email</h1>
          <div class="container bg-white">
            <div class="p3 mx-auto" style="max-width: 700px;box-sizing: content-box;">
              <p class="h3 p1 fw200 white bg-silver-blue caps">Health Sciences &amp; Human Services Library</p>
              <div class="flex">
                <div class="col-6 pr1">
                  <p class="bold mb0">{{ "{{ title "}} }}</p>
                  <p class="bold mb0">{{ "{{ date "}} }}</p>
                  <p class="bold mb0">{{ "{{ time "}} }}</p>
                  <p class="bold">{{ "{{ location "}} }}</p>
                  <p>{{ "{{ shortDesc "}} }}</p>
                </div>
                <div class="col-6">
                  <img src="images/1200x900.png" style="max-width: 100%;" alt="" class="img-insert">
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="vh100 border-box">
          <h1 class="mb3 h4 center">Elm Calendar</h1>
          <div class="container">
            <div class="p3">
              <p class="h3 green caps">Health Sciences &amp; Human Services Library</p>
              <p class="h2 border-bottom">{{ "{{ title "}} }}</p>
              <p class="bold mb0">{{ "{{ date "}} }}</p>
              <p class="bold mb0">{{ "{{ time "}} }}</p>
              <p class="bold mb0">{{ "{{ location "}} }}</p>
              <div class="flex">
                <div class="col-5 mt2">
                  <img src="images/1200x900.png" alt="" class="img-insert" style="max-width: 375px;">
                </div>
                <div class="col-7 p2">
                  <p>{{ "{{ longDesc "}} }}</p>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
