<section class="vh100 col col-3 bg-purpleBrown">
        <div class="clearfix mb3">
          <h1 class="px2 white">HS/HSL Outreach Toolkit</h1>
        </div>
        <nav>
          <ul class="list-reset m0 p0">
            <li class="mt2 mr2 mb2 bg-lighten-2-hover pill-right">
              <a href="preview-home.html" class="btn block h3 lh1p25 fw200 grey">Preview Content Before Submission</a>
            </li>
            <li class="mt2 mr2 mb2 bg-lighten-2-hover pill-right">
              <a href="signage-home.html" class="btn block h3 lh1p25 fw200 grey">Digital Signage Resources</a>
            </li>
          </ul>
        </nav>
      </section>
