<section class="vh100 col col-3 bg-purpleBrown">
        <div class="clearfix mb3 p2">
          <a href="home.html" class="white">⬅ Back</a>
          <h1 id="appTitle"class="h2 white" style="margin-top:.5em;">Preview Content Before Submission</h1>
        </div>
        <nav class="" style="margin-top:-12px;">
          <ul class="list-reset m0 p0">
            <li class="mt2 mr2 mb2 bg-lighten-2-hover pill-right">
              <a href="elm.html" class="btn block h3 lh1p25 fw200 grey">Elm</a>
            </li>
            <li class="mt2 mr2 mb2 bg-lighten-2-hover pill-right">
              <a href="clw.html" class="btn block h3 lh1p25 fw200 grey">Campus Life Weekly</a>
            </li>
            </li>
          </ul>
        </nav>
      </section>
