<section class="vh100 col col-9 p3 bg-light-grey">
        <div class="mt6">
          <p class="h3 purpleBrown">Download fresh slides prepared for each school's digital display, and read about submission protocols from their website</p>
          <div class="overflow-scroll">
            <table class="table-light overflow-hidden bg-white border rounded purpleBrown">
              <thead class="bg-darken-1 purpleBrown">
                <tr>
                  <th>School</th> <th>Download</th> <th>Website</th>
                </tr>
              </thead>
              <tbody>
                <tr> <td>Dentistry</td> <td><a href="">power point</a></td> <td><a href="">link</a></td> </tr>
                <tr> <td>Graduate</td> <td><a href="">power point</a></td> <td><a href="">link</a></td> </tr>
                <tr> <td>Law</td> <td><a href="">power point</a></td> <td><a href="">link</a></td> </tr>
                <tr> <td>Medicine</td> <td><a href="">power point</a></td> <td><a href="">link</a></td> </tr>
                <tr> <td>Nursing</td> <td><a href="">power point</a></td> <td><a href="">link</a></td> </tr>
                <tr> <td>Pharmacy</td> <td><a href="">power point</a></td> <td><a href="">link</a></td> </tr>
                <tr> <td>Social Work</td> <td><a href="">power point</a></td> <td><a href="">link</a></td> </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
