<section class="vh100 col col-3 bg-purpleBrown flex flex-column justify-space-between">
        <div>

          <div class="clearfix mb3">
            <h1 class="px2 white"><a href="index.html" class="white text-decoration-none">HS/HSL Outreach Toolkit</a></h1>
          </div>

          <nav>

            <div class="mb3">
              <div class="mx2 h3 lh1p25 fw200 grey">
                Preview Submission Content
              </div>
              <ul class="list-reset mt1 mb2">
                <li class="mr2 pl3 bg-lighten-2-hover pill-right">
                  <a href="elm.html" class="btn block h4 lh1p25 fw200 grey">The Elm</a>
                </li>
                <li class="mr2 pl3 bg-lighten-2-hover pill-right">
                  <a href="clw.html" class="btn block h4 lh1p25 fw200 grey">Campus Life Weekly</a>
                </li>
              </ul>
            </div>

            <div>
              <div class="mt2 mr2 bg-yellow pill-right">
                <a href="signage.html" class="btn block h3 lh1p25 fw200 purpleBrown cursor-default">Digital Signage Resources</a>
              </div>
            </div>

          </nav>

        </div>

        {% include nav-footer.html %}
      </section>
