/*
  HS/HSL Outreach Toolkit.css
*/

/*
  todo:
  [ ] organize this into component sections when react app is complete
  [ ] boil down each section into separate component files that can be imported

*/

/*<!-- elm.html specific css -->
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <!-- /elm -->*/

body, .h0, h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
}
body,
.vh100 { min-height: 100vh; }
.content-box { box-sizing: content-box; }
.raleway { font-family: "Raleway", sans-serif; }
.text-decoration-none:hover { text-decoration: none; }
.ml-col-3 { margin-left: 25%; }
.bg-light-grey { background-color: rgb(237,237,237); }
.justify-content-center { justify-content: center; }
.justify-space-between { justify-content: space-between; }
.align-content-center { align-content: center; }
.bg-silver-blue { background-color: rgb(86,134,162); }
.my1 { margin-top: .5rem; margin-bottom: .5rem; }
.mx2 { margin-right: 1rem; margin-left: 1rem; }
.pb3 { padding-bottom: 2rem; }
.pbp75 { padding-bottom: .75rem; }
.pr1 { padding-right: .5rem; }
.pr2 { padding-right: 1rem; }
.pl1 { padding-left: .5rem; }
.pl2 { padding-left: 1rem; }
.pl3 { padding-left: 2rem; }
.pt3 { padding-top: 2rem; }
.py1 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pl-third { padding-left: .3rem; }
.mt3 { margin-top: 2rem; }
.mt6 { margin-top: 6rem; }
.lh1 { line-height: 1; }
.lh1p25 { line-height: 1.25; }
.purpleBrown { color: var(--purpleBrown); }
.purpleBrown-dark { color: var(--purpleBrown-dark); }
.purpleBrown-light { color: var(--purpleBrown-light); }
.bg-purpleBrown { background-color: var(--purpleBrown); }
.bg-purpleBrown-dark { background-color: var(--purpleBrown-dark); }
.grey { color: var(--grey); }
.bg-darken-1-hover:hover { background-color: var(--darken-1); }
.bg-darken-2-hover:hover { background-color: var(--darken-2); }
.bg-darken-3-hover:hover { background-color: var(--darken-3); }
.bg-darken-4-hover:hover { background-color: var(--darken-4); }
.bg-lighten-1 { background-color: var(--lighten-1); }
.bg-lighten-2 { background-color: var(--lighten-2); }
.bg-lighten-3 { background-color: var(--lighten-3); }
.bg-lighten-4 { background-color: var(--lighten-4); }
.bg-lighten-1-hover:hover { background-color: var(--lighten-1); }
.bg-lighten-2-hover:hover { background-color: var(--lighten-2); }
.bg-lighten-3-hover:hover { background-color: var(--lighten-3); }
.bg-lighten-4-hover:hover { background-color: var(--lighten-4); }
.yellow { color: var(--yellow); }
.bg-yellow { background-color: var(--yellow); }
.umm { color: var(--umm); }

.fw200 { font-weight: 200; }

:root {
  --grey: rgb(172,164,171);
  --umm: #6698C8;
  --purpleBrown: #4D394B;
  --purpleBrown-light: hsla(306,15%,26%,.4);
  --purpleBrown-dark: hsl(306,15%,20%);
  --darken-1: rgba(0,0,0,.0625);
  --darken-2: rgba(0,0,0,.125);
  --darken-3: rgba(0,0,0,.25);
  --darken-4: rgba(0,0,0,.5);
  --lighten-1: hsla(0,0%,100%,.0625);
  --lighten-2: hsla(0,0%,100%,.125);
  --lighten-3: hsla(0,0%,100%,.25);
  --lighten-4: hsla(0,0%,100%,.5);
  --yellow: rgb(255,204,0);
}

.btn:focus {
    border-color: transparent;
    box-shadow: none;
  }/*basscss override*/

.pill-right {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.cursor-default { cursor: default; }
.not-allowed { cursor: not-allowed; }

/*Campus Life Weekly styles*/
.clw {
  color: #58595B;
  font-family: 'Arial', sans-serif;
  word-wrap: break-word;
  font-size: 10.5pt;
  line-height: 1.4;
}
.clw-short {
  width: 275px;
  text-align: center;
}

a.short-title {
  color: #636363;
  text-decoration: underline;
  /*text-decoration-color: blue; DOESN'T work in Chrome*/
}

a.short-contact {
  color: rgb(0, 163, 209);
  text-decoration: underline;
}

.clw-long-wrapper {
  width: 632px;
  height: 302px;
  background-color: white;
}

.clw-long {
  width: 600px;
  height: 270px;
}

.long-title {
  color: #007698;
  font-size: 13.5pt;
}

.clw-long-image {
   max-width: 275px;
   max-height: 210px;
}


.sub-menu-item {
  display: block;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 200;
  color: var(--grey);
}
.sub-menu-item:hover,
.sub-menu-item.selected {
  color: white;
  border-bottom: 3px solid var(--yellow);
}

/*
  Styles written for v0.3.0 react app
*/

.maxw-350px { max-width: 350px; }
.maxw-375px { max-width: 375px; }
.maxw-700px { max-width: 700px; }
.maxw-100per { max-width: 100%; }
.h-100per { height: 100%; }
.bg-offwhite { background-color:#F0F1F1; }
