---
---
<!DOCTYPE html>
<html lang="en-US">

  <body>

    {% include head.html %}

    <div>
      <section class="vh100 col col-3 p2 bg-purpleBrown">
        <div class="">
          <h1 class="h3 px2">All Channels</h1>
          <a href="elm.html" class="btn block mb2 mt2">The Elm</a>
          <a href="displays.html" class="btn block mb2 mt2">Digital Display Monitors</a>
          <a href="wordpress.html" class="btn block mb2 mt2">HS/HSL Updates WordPress Blog</a>
          <a href="social.html" class="btn block mb2 mt2">Twitter &amp; Facebook</a>
          <a href="individuals.html" class="btn block mb2 mt2">Individual Contacts</a>
        </div>
      </section>
      <div class="vh100 col col-9 p3">
        <div id="app">{{ "{{ message "}} }}</div>
      </div>
    </div>

    {% include index-scripts.html %}

  </body>

</html>
